* {
    box-sizing: border-box;
    font-family: Avenir Next for SAS, Helvetica Neue, Arial Unicode MS, helvetica, arial, sans-serif;
    font-size: 12pt;
}

#div_ajax {
    background-color: rgba(177, 184, 195, 0.1);
}

#tbl_search_results {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 100%;
}

#tbl_search_results td,
#tbl_search_results th {
    border: 1px solid rgba(177, 184, 195, 0.5);
    padding: 8px;
    /* overflow-wrap: break-word; */
}

/* #tbl_search_results td:nth-child(1),
#tbl_search_results th:nth-child(1) {
    width: 30%;
    overflow-wrap: break-word;
} */

#tbl_search_results tr:nth-child(even) {
    background-color: rgba(177, 184, 195, 0.1);
}

#tbl_search_results tr:hover {
    background-color: rgba(177, 184, 195, 0.3);
}

#tbl_search_results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(42, 48, 55);
    background-color: rgba(177, 184, 195, 0.5);
}

.stick_top {
    position: sticky;
    top: 0;
}

.blink {
    animation: blinker 2s linear infinite;
    color: rgb(42, 48, 55);
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 6px 6px 6px 0;
    display: inline-block;
}

input[type=submit],
button {
    background-color: rgba(3, 121, 206, 0.8);
    color: rgb(255,255,255);
    padding: 6px 12px;
    border: none;
    /* border-radius: 4px; */
    /* width: 100%; */
    /* cursor: pointer; */
    float: left;
}

button.cancel {
    background-color: rgba(177, 184, 195, 0.5);
    border-color: rgb(177, 184, 195);
    color: rgb(42, 48, 55);

}

/* input[type=submit]:hover,
button:hover {
    background-color: rgba(3, 121, 206, 1);
} */

button:disabled,
button[disabled] {
    /* border: 1px solid #999999; */
    /* background-color: #cccccc; */
    /* color: #666666; */
    background-color: rgba(3, 121, 206, 0.3);
}

.container {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    margin-top: 6px;
}

.container_nomargin {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    /* margin-top: 6px; */
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-75 {
    width: 75%;
}

.col-25,
.col-50,
.col-75 {
    float: left;
    /* margin-top: 6px; */
    padding: 0 16px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}


.hide {
    display: none;
}

.show {
    display: block;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(177, 184, 195);
    width: 40%;
    /* Could be more or less, depending on screen size */
}

.animate {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}